html, body {
	margin: 0;
	padding: 0
}
body {
	font-family: sans-serif;
    background: #ededed;
}
body > nav {
	margin: 1ex 0;
	padding: 0.8em 1em;
	text-shadow: 0 0 2px #000;
	background-color: #556;
}
body > nav > a:first-child {
	font-weight: bold;
	font-size: 150%
}
nav > a {
	color: inherit;
	text-decoration: inherit;
	color: #fff;
	vertical-align: middle;
	margin-right: 1em
}
body > nav > nav {
	display: none;
	padding: 1ex 1em;
	margin: 0.8em -1em;
	margin-bottom: -0.8em;
	background-color: #668;
}
body > nav > nav:target {
	display: inherit;
}
footer {
	margin: 1em 0;
	font-size: 70%;
	text-align: center
}
body > article {
	background-color: #fff;
	border-radius: 0.5em;
	margin: 0 auto;
	padding: 1em;
	padding-top: 0.25em;
	max-width: 1280px
}
article > h1,
article > h2,
article > h3,
article > h4 {
	border-radius: 0.5em;
	text-shadow: 0 0 2px #000;
	padding: 0.5em;
	color: white;
}
article > h1 {
	background-color: #556;
}
article > h2 {
	background-color: #668;
}
article > h3 {
	background-color: #88A;
}
article > h4 {
	background-color: #AAC
}

.langc > .line {
	color: #aaa
}
.langc > .num {
	font-weight: bold;
	color: #c80
}
.langc > .type {
	font-weight: bold;
	color: #808
}
.langc > .flow {
	font-weight: bold;
	color: #00a
}
.langc > .comment {
	color: #080
}